@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(#2C3156, #1b1a33);
    overflow-y: auto;
}

.container {
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    height: 100%;
}

.logo {
    top: 20px;
    width: 100px;
}

.logo img {
    margin-top: 75px;
    width: 250px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(177, 217, 243);
}

@media (max-width: 1024px) {
    .container {
        padding: 0 2%; 
    }

    .logo img {
        width: 200px;
        margin-top: 50px;
    }

    nav ul {
        flex-direction: column;
        align-items: center; 
    }

    nav ul li {
        padding: 10px 0; 
        font-size: 18px; 
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 150px;
        }

    nav ul li {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 120px; 
    }

    nav ul li {
        font-size: 14px;
        padding: 5px 0;
    }
}

.video-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    top: 50px; 
    
}

video {
    margin-top: 20px;
    max-width: 150%; 
    height: 480px;
    border-radius: 8px; 
}

@media (max-width: 768px) {
    video {
        width: 100%; 
    }

}

.text-section {
    text-align: center;  
    margin: 20px 0; 
    padding: 0 10%; 
}
.text-section h2 {
    font-size: 30px; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-bottom: 20px;
}
.text-section p {
    font-size: 16px; 
    line-height: 1.6; 
    color: white; 
    margin-left: 10px; 
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .text-section {
        padding: 0 5%; 
    }

    .text-section h2 {
        font-size: 22px; 
    }
    .text-section p {
        font-size: 16px; 
        padding: 0 5%; 
    }
}

@media (max-width: 480px) {
    .text-section {
        padding: 0 2%;
    }

    .text-section h2 {
        font-size: 18px; 
    }
    .text-section p {
        font-size: 14px;
        padding: 0 2%;
    }
}

